* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

body {
	background: #fdeda5;
	flex-flow: colum;
	min-height: 100vh;
}

/*タイトル[お買い物ダイアリーのルール]*/
.title {
    /*背景色*/
    color: #ffa500;
    /*saizu*/
    font-size:40px;
    /*囲いを文字数と合わせる*/
    display:inline-block;
    /*囲いの作成*/
    padding: 5px; margin-bottom: 10px; border: 1px solid #ffa500;
    /*囲いの中の色*/
    background-color: rgb(252, 221, 252);

  }
  
.flexbox {
    display: flex;
    flex-wrap: wrap;
    }
/*検索バーの囲い*/
.kensaku {
    padding: 5px; margin-bottom: 10px; border: 5px solid #dd3620;
    /*線の太さ*/
    border-radius: 10px;

}
/*色付きボタンを押したときぽくする:active=クリック時*/
.kensakubtn:active {
    position:relative;
    top:6px;
}

/*検索ボタンのルール*/
.kensakubtn {
    color:#ff8800;
    padding: 5px; margin-bottom: 10px; border: 1px solid #000000;
    border-radius: 10px;
    background-color:#fff01b;
}
main {
	flex: 1;
}

.booklist img {
    height: 200px;
    object-fit: contain;
}

.star-rating {
    position: relative;
    font-size: 20px;
    word-wrap: normal!important;
}

.star-rating-front{
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.star-rating-back {
    color: #ffffff
}

.average {
    font-size: 20px;
    font-weight: bold;
}

