{% extends 'myshop/base.html' %}

{% block content %}

{% load bootstrap4 %}
<html>
    <center>
    <h3>登録画面</h3>
    {{ item_data.itemName }}

    <form action='{% url "myshop:create" %}' method='post' class='form'>
        
        <!-- ??? -->
        {% csrf_token %}
        <img src="{{ iC }}">
        {% bootstrap_form form %}
        <button type='submit' class='btn btn-outline-primary' onClick="return confirm('追加してよろしいでしょうか??')">保存</button>
        <input type="button" value="戻る" onClick="javascript:history.back();">
    </form>
    <form method="post" enctype="multipart/form-data">
       <input type="file"  name="upfile" accept="image/*">
       <button type="submit">写真アップロード</button>
    </form>
    </center>

</html>

{% endblock %}
